<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <%= image_tag @user.icon.url(), width: '38', height: '38', class: "round-img" %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <p class="username"><%= @user.name %></p>

      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
      <% end %>

      <hr><hr>


            <div class="list-group text-center">
             <%= link_to 'Delete Account', @user, method: :delete, class: "list-group-item list-group-item-action btn-danger" ,data: { confirm: 'Are you sure?' } %>
             </div>
          </div>

    <div class="row">
      <p class="email"><%= @user.email %></p>
    </div>


  <div class="profile-tab">
    <% if @user == current_user %>
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link btn btn-outline-dark common-btn edit-profile-btn" id="nav-saved-tab" data-toggle="tab" >
          <%= link_to "FAVORITES", favourite_user_path(current_user.id) %> </a>
      </div>
    </nav>
    <% end %>




  </div>
</div>
</div>

<div class="row justify-content-md-center profile-wrapper">

    <%= link_to "New Post", new_post_path , class: " btn btn-outline-dark common-btn edit-profile-btn "%>
</div>
