<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        Create Post
      </div>
      <div class="card-body">
        <%= form_with(model: @post, local: true ,url: choose_new_or_edit   )  do |f| %>
        <div class="form-group row mt-2">
          <div class="col-auto pr-0">
              <%= image_tag @current_user.icon.url(), width: '38', height: '38', class: "round-img" %>
          </div>
          <div class="col pl-0">
            <%= f.text_field :content, class: "form-control border-0",
            placeholder: "Say something about this ..." %>
            <%= f.hidden_field :user_id ,value: current_user.id  %>
          </div>
        </div>
        <div class="fallback">
        </div>
        <div class="dz-message m-0"></div>
        <div class="dropzone-previews mb-3">
        <div class="upload-photos-icon">

        <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2">
        <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <%= f.hidden_field :user_id ,value: current_user.id  %></i>
      </div>
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>

</div>
