<div class="row edit-profile-wrapper">
  <div class="col-sm-3 left-col">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">FEED</a>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <div class="row username-img">

    </div>

<% @posts.each do |post| %>
  <div class="card post">
    <div class="card-header d-flex align-items-center">
        <%= link_to user_path(post.user), class: "no-text-decoration",
        title: post.user.name do %>
        <br>
        <%= image_tag post.user.icon.url(), width: '38', height: '38', class: "round-img" %>
        <strong><%= post.user.name %></strong>
        <br>

        <div class="carousel-item active">
          <%= post.content %>
       </div>

        <br>
        <div class="carousel-item active ">
          <%= image_tag(post.image.url) if post.image && post.image.url  %>
       </div>

      <% end %>
    </div>


    <div class="card mt-3 post">
        <div class="card-header d-flex align-items-center">

      <% unless post.user_id == current_user.id %>

          <button type="button" class="btn btn primary"><%= link_to 'Make Favorite', favorites_path(post_id: post.id), method: :post %>
        <% end %>
      </div>

      <% if post.is_belongs_to? current_user %>
        <%= link_to post_path(post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
          <i class="far fa-trash-alt" aria-hidden="true"></i>
        <% end %>
       <br>
       <% if post.is_belongs_to? current_user %>
        <button type="button" class="btn btn-default"> <%= link_to 'Edit', edit_post_path(post)%>
      <% end %>

    <% end %>


    </div>





    </div>
  </div>
<% end %>

</div>
